/* Write your CSS here */
.digital-timer-background {
  background-image: linear-gradient(to right, #ffffff, #cffcf1, #defafe);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.digital-timer-heading {
  font-size: 32px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #1e293b;
}
.image-timer-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/digital-timer-elapsed-bg.png');
  height: 400px;
  width: 400px;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.timer-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  border-radius: 75px;
}
.icons-dim {
  height: 50px;
  width: 50px;
}
.plus-minus-button {
  font-size: 22px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #1e293b;
  height: 60px;
  cursor: pointer;
  width: 60px;
  background-color: transparent;
  border: 0px solid transparent;
  border-radius: 0px;
  display: flex;
  flex-direction: row;
}
.timer-change-text {
  background-image: linear-gradient(to right, #cffcf1, #00d9f5);
  height: 40px;
  width: 70px;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #1e293b;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.time-changer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.play-reset-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.increment-time-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.start-reset-btn {
  height: 60px;
  width: 60px;
  background-color: transparent;
  border: 0px solid transparent;
  border-radius: 0px;
  cursor: pointer;
}
.btns-container {
  display: flex;
  margin-bottom: 20px;
}
.whole-timer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .whole-timer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.text {
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #1e293b;
}
.set-timer-limit-text {
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #1e293b;
  margin-top: 20px;
}
.timer {
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #00d9f5;
}
